doctype 5
html
  head
    title= title 
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body   
    .container
      block content
    block footer
      script(src='/socket.io/socket.io.js')
      script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
      script(type='text/javascript' src='/javascripts/functions.js')